<div class="jumbotron">
	<h1 class="text-center">Contact Us</h1>
</div>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-4">
			<p><strong>Address: </strong>57,Sector-C,Vijaynagar,near Radission Blue</p>
			<p><strong>Contact: </strong>1234567890</p>
			<p><strong>Email: </strong>info@articleworld.com</p>
		</div>
		<div class="col-md-8">
			<form>
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="name" class="form-control">	
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" class="form-control">	
				</div>
				<div class="form-group">
					<label>Message</label>
					<textarea class="form-control"></textarea>		
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg">Send Message</button>		
				</div>
			</form>
		</div>
	</div>
</div>



